/* override masonry styling */
div.makeStyles-masonryContainer-1, div[class^='makeStyles-masonryContainer-'], div[class*=' makeStyles-masonryContainer-'] {
    width:100vw;
    display: flex;
    justify-content: center;
}

div.makeStyles-masonryContainer-1 > div, div[class^='makeStyles-masonryContainer-'] > div, div[class*=' makeStyles-masonryContainer-'] > div {
    width:95%;
}

div.makeStyles-masonryContainer-1 > div > div > div > div, div[class^='makeStyles-masonryContainer-'] > div > div > div > div, div[class*=' makeStyles-masonryContainer-'] > div > div > div > div {
    align-items: center;
}

.fade-enter {
    opacity: 0;
}
  
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

/* fix bizarre masonry bug only on prod version */
.jss1 > div {
    width: 100% !important;
}