{% extends "base.html" %}
{% block title %}Isabella Hochschild | About{% endblock %}
{% block aboutisactive %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row about-row">
		<h2 class="wide-heading" style="padding-bottom:15px;">About Me</h2>
		<p>I'm a sophomore at University High School in SF and my interests include coding, track, XC, and baking.</p>
	</div>
<!-- 	<div class="row about-row">
		<h2 class="wide-heading">Meet the Team</h2>
	</div> -->
	<div class="row">
		<div class="col-sm text-center">
			<img src="http://incub8.herokuapp.com/static/img/profiles/isabella.png" class="about-pics rounded-circle" id="isabellapic" alt="Isabella" style="height: 175px; width: 175px;">
			<h3><a class="link" href="/members/Isabella%20Hochschild">Isabella Hochschild</a></h3>
			<span>Hey! I'm Isabella.</span>
	    </div>
	</div>
</div>
{% endblock %}
{% block head %}
<style>
.row.about-row {
    padding-left: 50px;
    padding-bottom: 25px;
}
</style>
{% endblock %}