{% extends "base.html" %}
{% block title %}Isabella Hochschild | Contact Me{% endblock %}
{% block contactisactive %}active{% endblock %}
{% block content %}
<!-- <div class="heading">
	<h2>Contact Us</h2>
</div> -->
<div class="row align-items-center justfy-content-center" style="padding:25px">
	<div class="col">
	{% if post == 'yup' %}
	<h4>Thank you! Your message has been sent.</h4>
	{% endif %}
	  <form action="https://formspree.io/isabellahochschild@gmail.com"
      method="POST">
	    {{ form.hidden_tag() }}
	 
	    <p style="display:none">{{ form.name.label }}</p>
	    <p>Name</p>
	    {{ form.name }}
	 
	    <p style="display:none">{{ form.email.label }}</p>
	    <p>Email</p>
	    {{ form.email }}
	 
	    <p style="display:none">{{ form.subject.label }}</p>
	    <p>Subject</p>
	    {{ form.subject }}
	 
	    <p style="display:none">{{ form.message.label }}</p>
	    <p>Message</p>
	    {{ form.message }}
	    <div style="width: 100%; padding-top: 20px; padding-bottom: 20px;">{{ form.submit }}</div>
	  </form>
	 <p>If for some reason this form isn't working, please feel free to reach out to me directly by emailing <a class="link" href="mailto:isabellahochschild@gmail.com">isabellahochschild@gmail.com</a>!</p>
	</div>
</div>

{% endblock %}