{% extends "base.html" %}
{% block title %}Dashboard | UHS Baking Club{% endblock %}
{% block dashboardisactive %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h4>You are currently logged in as {{ name }}</h4><br>
    {% if if_message %}
    <p>{{ message }}</p>
    {% else %}
    {% endif %}
  </div>
  <div class="row" id="dash">
    <h3><a class="link" href="/account">Edit Account</a></h3>
<!--     <h3><a class="link" href="/register">Create an account</a></h3> -->
    <h3><a class="link" href="/calendar">View Upcoming Events</a></h3>
    {% if admin %}
    <h3><a class="link" href="/admin">Admin View</a></h3>
    <h3><a class="link" href="{{ url_for('new_post')}}">New Post</a></h3>
    {% else %}
<!--     <h3><a class="link" href="/subscribe?email={{ name }}">Become A Member</a></h3> -->
    {% endif %}
    <h3><a class="link" href="/logout">Log Out</a></h3><br>
  </div>
</div>

<!-- <a href='logout'>Logout</a> -->
{% endblock %}
{% block head %}
<style>
#dash h3 {
  width:100% !important;
}
</style>
{% endblock %}