{% extends "base.html" %}
{% block title %}UHS Baking Club{% endblock %}
{% block homeisactive %}active{% endblock %}
{% block head %}
<meta name="p:domain_verify" content="76c73097fbcf36ea8a513f17dd8cf8ac"/>
{% endblock %}
{% block heading %}University High School Baking Club{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<p style="font-size:13px;padding:35px; width:100%">This is the official site for the <a class="link" href="https://www.sfuhs.org/">San Francisco University High School</a> Baking Club!</p>
		<!-- <p style="font-size:13px;padding-left:35px; padding-bottom:35px, width:100%">If you're new to this site, please read out welcome page <a href="/blog/welcome" class="link">here</a>!</p> -->
		<p style="font-size:13px;padding-left:35px; padding-bottom:35px; width:100%">If you want to sign up for updates, click <a href="/subscribe" class="link">here</a>!</p>
		<p style="font-size:13px;padding-left:35px; padding-bottom:35px; width:100%">Check out our <a class="link" href="/blog">blog</a> for recipes and more!</p>
		<p style="font-size:13px;padding-left:35px; width:100%">You can look at our upcoming events <a href="/calendar" class="link">here</a>!</p>
		{% if message %}
		<p style="font-size:13px;padding-left:35px; width:100%;padding-top:35px;">{{ message|safe }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}