{% extends "base.html" %}
{% block title %}Isabella Hochschild | Portfolio{% endblock %}
{% block portfolioisactive %}active{% endblock %}
{% block description %}Isabella Hochschild is a student and web developer based out of San Francisco.{% endblock %}
{% block keywords %}portfolio,isabella hochschild portfolio{% endblock %}
{% block head %}
<style>
.portfolio-img {
    width: 250px;
}

/*body {
	background-color: rgb(249,249,249);
}

nav {
	background-color:#fff !important;
}

.navbar.navbar-expand-md.navbar-default.navbar-light.bg-light {
	background-color:#fff !important;
}*/
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/inverted_nav.css') }}">
{% endblock %}
{% block content %}
<div class="container">
	<div class="row" style="padding:50px; padding-top:0px">
		<h1>PORTFOLIO</h1>
	</div>
	<div class="row portfolio-row justify-content-center text-center">
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/sendavirtualhug.PNG') }}">
			<h3><a href="http://sendavirtualhug.com">sendavirtualhug.com</a></h3>
			<h5>APRIL 2020 - PRESENT</h5>
			<p>I wanted to create a resource to spread positivity during the pandemic, and I really miss hugging my friends! When my grandfather passed away in quarantine and I was unable to go visit and physically hug my grandmother or relatives, I decided to develop a web app so that I could send them a hug virtually! Thus, <a href="http://sendavirtualhug.com">sendavirtualhug.com</a> was born! For this project, I used a Python Flask backend with HTML/CSS/JS templates, Firebase, the Flask-Mail extension, and Twilio.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/buddi.PNG') }}">
			<h3><a href="http://buddi-app.herokuapp.com">BUDDI</a></h3>
			<h5>JANUARY 2020 - APRIL 2020</h5>
			<p>In light of the current gloabl pandemic, we wanted to create an app that would help one of the highest at-risk populations for COVID-19. During the 2020 <a href="http://www.pixelhacks.com/">PixelHacks IV Hackathon</a>, we developed BUDDI, a companion tool that easily provides assistance and resources to senior citizens with a friendly chatbot and many other interactive features!This app ended up winning Best Use of Google Cloud and Domain at the hackathon. Responsibilities for this project included the majority of front-end and back-end coding, using Python Flask, HTML, Firebase, Swift, and XCODE.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/incub8.PNG') }}">
			<h3><a href="http://incub8.herokuapp.com">1NCUB8</a></h3>
			<h5>SUMMER 2018 - PRESENT</h5>
			<p>1NCUB8 is a web app that allows teen start-ups to share their projects with potential investors and obtain the funding and expertise necessary to develop their ideas. It was initially created during the SF <a href="https://www.kodewithklossy.com/">Kode with Klossy</a> program. Responsibilities included the majority of front-end and back-end coding, using Python Flask and mongoDB. The app was recently submitted it to the <a href="http://incub8.herokuapp.com/submission">Congressional App Challenge</a>.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/SanFrancisGO.PNG') }}">
			<h3><a href="http://sanfrancisgo.herokuapp.com">SanFrancisGO</a></h3>
			<h5>SUMMER 2019 - PRESENT</h5>
			<p>SanFrancisGO is a mobile and web app initially created during the SF <a href="https://www.kodewithklossy.com/">Kode with Klossy</a> program in 2019. Responsibilities included front-end and back-end coding for the website, creating a database, and doing the majority of back-end work in Swift for the mobile app. For this project, used Swift, XCODE, CocoaPods, Python, Flask, and Firebase. The app was recently submitted it to the <a href="http://sanfrancisgo.herokuapp.com/submission">Congressional App Challenge</a>.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/dt_college_day.PNG') }}">
			<h3><a href="http://diatribe.org/college">DiaTribe College Day</a></h3>
			<h5>JULY 2018</h5>
			<p>Created a website to advertise the annual college day event held by the diaTribe Foundation. Developed a sign up system for interested high school students, set up a variety of social media accounts and publicized the event. Also set up a live broadcast of the event on the diaTribe Facebook page.</p>
		</div>
	<!-- </div>
	<div class="row portfolio-row justify-content-center text-center"> -->
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/uhs_baking_club.PNG') }}">
			<h3><a href="http://uhsbakingclub.herokuapp.com">UHS Baking Club</a></h3>
			<h5>OCTOBER 2018</h5>
			<p>Developed a website to publicize the club, sign up members, and to serve as a platform to share recipes and ideas. The Baking Club at <a href="http://sfuhs.org">San Francisco University High School</a> has a primary goal of helping students to de-stress in a stressful environment by sharing recipes, watching baking TV shows, and eating some *good* baked goods.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/uhs_student_it_team.PNG') }}">
			<h3><a href="http://bit.ly/uhs-student-it-team">UHS Student IT Team</a></h3>
			<h5>SEPTEMBER 2019 - PRESENT</h5>
			<p>Developed a website to publicize the club and organize members. (admin section is hidden for most users) I co-founded the Student IT Team at <a href="http://sfuhs.org">San Francisco University High School</a> to assist with both the faculty- and student-related problems that can be solved or made more efficient using technology.</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/dt_mailchimp_metrics.PNG') }}">
			<h3><span class="link">MailChimp Aggregator</span></h3>
			<h5>AUGUST 2018</h5>
			<p>Assisted in the creation of an aggregator that pulled data from the MailChimp API to summarize  click open rates.  Using data analyzed success factors in most read articles to and help make newsletters sent by <a href="http://diatribe.org">diaTribe</a> more efficient.<br>**Proprietary information</p>
		</div>
		<div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="{{ url_for('static', filename='img/portfolio/sfspca_foster.PNG') }}">
			<h3><a href="http://bit.ly/sfspcafoster">SF SPCA Foster Website</a></h3>
			<h5>APRIL 2016</h5>
			<p>Created a website for foster parents at a local animal shelter, the <a href="http://sfspca.org">San Francisco SPCA</a>, to be able to share photos and information. Foster parents could send photos to an email address which would then automatically be added to the database and go out to major social media channels.</p>
		</div>
		<!-- <div class="col-sm-4 portfolio-col">
			<img class="portfolio-img" src="https://via.placeholder.com/150">
			<h3><a href="http://diatribe.org/college">DiaTribe College Day</a></h3>
			<p>Created a website to advertise the college day event held by the diaTribe Foundation.</p>
		</div> -->
	</div>
</div>
{% endblock %}