{% extends "base.html" %}
{% block title %}Isabella Hochschild | Resume{% endblock %}
{% block resumeisactive %}active{% endblock %}
{% block keywords %}resume,isabella hochschild resume{% endblock %}
{% block content %}
<div class="row text-center justify-content-center" style="font-size:15px">
	<p>You can download my resume <a href="https://drive.google.com/uc?export=download&id=11OkFHwrM9mBibuJER08HNoCEXaA9aeXfXgWJ0AwtDhc">here</a>!</p>
</div>
<div class="container" style="height:100vh">
<iframe src="https://docs.google.com/document/d/11OkFHwrM9mBibuJER08HNoCEXaA9aeXfXgWJ0AwtDhc/pub?embedded=true" style="/*position:fixed;*/ top:250px; left:0px; bottom:250px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:5;">Your browser does not support iframes, sorry!</iframe>
</div>
{% endblock %}