{% extends "base.html" %}
{% block title %}Isabella Hochschild | Portfolio{% endblock %}
{% block portfolioisactive %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>PORTFOLIO</h1>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="portfolio_img" src="https://placeholder.com/">
			<h3>INCUB8</h3>
			<p>INCUB8 is a web app that allows teen start-ups to share their projects with potential investors and obtain the funding and expertise necessary to develop their ideas. Responsibilities included the majority of front-end and back-end coding. This project used Python Flask and a mongoDB database.</p>
		</div>
	</div>
</div>
{% endblock %}