{% extends "base.html" %}
{% block title %}Blof | UHS Baking Club{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<h2 class="title">{{ info.title }}</h2>
		<h4 class="authors">By: {% for this_author in info.authors %}<a href="{{ url_for('get_member' ,member_id=this_author.id) }}">{{ this_author.name }} ({{ this_author.class }})</a>&nbsp;&nbsp;&nbsp;{% endfor %}
		<h4 class="tags">Tags: {% for this_tag in info.tags %}<a href="/posts?tag={{ this_tag }}">{{ this_tag }}</a>&nbsp;&nbsp;&nbsp;{% endfor %}	
	</div>
	<br>
	<div class="row">
		<div class="post_content">
			{{ info.content|safe }}
		</div>
	</div>
</div>
{% endblock %}