/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');*/
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Spinnaker');
@import url(http://weloveiconfonts.com/api/?family=entypo);

* {
  font-family: 'Spinnaker', sans-serif;
  box-sizing:border-box;
  }

body {
  line-height: 1.5;
  font-size: 12px;
} 

:root {
    --main-color: #7D9EC0 !important; 
}

.nav li .active {
  color: #000;
}

a:hover {
  color: var(--main-color) !important;
  text-decoration: underline !important;
}

.link:hover {
  color: var(--main-color) !important;
  text-decoration: underline !important;
}

.link {
/*  color: #FFB6C1 !important;*/
  color: var(--main-color)
}

a {
  color: var(--main-color)
}

.btn-isabella, .btn-baking, .btn-custom {
    color: #fff;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    width:100%;
}

.social-media-icons {
    width:25px;
    height: 25px;
}