@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Spinnaker');
@import url(http://weloveiconfonts.com/api/?family=entypo);

* {
  font-family: 'Spinnaker', sans-serif;
  box-sizing:border-box;
  }

body {
  line-height: 1.5;
  font-size: 12px;
} 

:root {
    --main-color: #7D9EC0 !important; 
}

.wide-heading {
  width: 100% !important;
}

[class^="entypo-"]:before,
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* mobile fix */
@media (max-width: 768px) {
  .dropdown-lr h3 {
    color: #eee;
  }
  .dropdown-lr label {
    color: #eee;
  }

}

.nav li .active {
  color: #000;
}

a:hover {
  color: var(--main-color) !important;
  text-decoration: underline !important;
}

.link:hover {
  color: var(--main-color) !important;
  text-decoration: underline !important;
}

.link {
/*  color: #FFB6C1 !important;*/
  color: var(--main-color)
}

.heading {
  padding:25px !important;
}

a {
  color: var(--main-color)
}

.title {
  width:100%;
}

.tags {
  width:100%;
}

.authors {
  width:100%;
}

.teaser {
  padding-top:20px;
  width:100%;
}

.btn-baking, .btn-custom {
    color: #fff;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    width:100%;
}

.social-media-icons {
    width:25px;
    height: 25px;
}

/* Hover state animation applied here */
.btnLinkedIn:hover { 
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */

.btnLinkedIn { background: #D2D2D2; }
.btnLinkedIn:active { background: #b9b9b9; }

/* Active state animation keyframes below */

@-webkit-keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}
#linkedIn img{
    width: 10px;
}
/*keyframes active { */
/*  0% {transform: scale(1,1);}*/
/*  90% {transform: scale(.9,.88);}*/
/*  100% {transform: scale(.92,.9);}*/
/*}*/

/* Hover state animation keyframes below */

#social-media-links {
  font-size: 25px;
}


.btn-success {
    color: #fff !important;
    background-color: #4eb7c0 !important;
    border-color: #4eb7c0 !important;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    color: #fff !important;
    background-color: #4eb7c0 !important;
    border-color: #4eb7c0 !important;
}

.about-pics {
    height: 200px !important;
    width: 200px !important;
}